body {
  font-family: Arial;
  background: #f4f4f4;
}
.container {
  width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}
textarea {
  width: 100%;
  height: 100px;
}
